* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(
    180deg,
    rgba(168, 218, 220, 1) -45%,
    rgba(194, 190, 67, 1) 86%,
    rgba(56, 152, 56, 1) 98%
  );
  /* overflow: hidden; */
  height: 100%;
}

main {
  width: auto;
  height: calc(100% - 20px);
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  opacity: 1;
}

.trainWrapper {
  width: 800px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  position: absolute;
  z-index: 3;
}

.trainHeadLeft,
.trainHeadRight,
.trainCar {
  width: 190px;
  height: 60px;
  border: solid #000 3px;
  margin-right: 2px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-color: #645fa2;
}

/* Car windows */

.carWindow {
  background-color: aqua;
  width: 30px;
  height: 30px;
  border: solid #000 3px;
  border-radius: 5px;
}

/* The Right Train Head */

.trainHeadRight {
  border-radius: 10px 150px 10px 10px;
}

.trainHeadRight > div:nth-child(3) {
  background-color: aqua;
  width: 70px;
  border-radius: 20px 150px 20px 20px;
}

.trainHeadRight > div:nth-child(2) {
  width: 45px;
  border-radius: 5px;
}

.trainHeadRight > div:nth-child(1) {
  display: none;
}

/* The Left Train Head */

.trainHeadLeft {
  border-radius: 150px 10px 10px 10px;
}

/* Train Car */

.trainCar {
  border-radius: 5px;
}

/* Windows: */

.trainHeadLeft > div:nth-child(1) {
  width: 70px;
  border-radius: 150px 20px 20px 20px;
}

.trainHeadLeft > div:nth-child(2) {
  width: 45px;
  border-radius: 5px;
}

.trainHeadLeft > div:nth-child(3) {
  display: none;
}

/* Doors */

.trainDoorFrame {
  background-color: antiquewhite;
  height: 45px;
  width: 35px;
  position: relative;
  bottom: -7px;
  border: solid #000 3px;
  border-radius: 5px 5px 0 0;
  display: flex;
  overflow: hidden;
  animation-iteration-count: 1;
  animation-name: doorOpenClose;
  animation-duration: 80s;
}

.door {
  width: 50%;
  height: 100%;
  background-color: #645fa2;
}

.trainDoorFrame > div:nth-child(1) {
  border-right: #000 solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.trainDoorFrame > div:nth-child(2) {
  border-left: #000 solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.doorWindow {
  width: 5px;
  height: 60%;
  background-color: aqua;
  left: 5px;
}

@keyframes doorOpenClose {
  0% {
    gap: 20px;
  }
  1% {
    gap: 0px;
  }

  24% {
    gap: 0px;
  }
  25% {
    gap: 20px;
  }
  26% {
    gap: 0px;
  }

  49% {
    gap: 0px;
  }

  50% {
    gap: 20px;
  }

  51% {
    gap: 0px;
  }

  74% {
    gap: 0px;
  }

  75% {
    gap: 20px;
  }

  76% {
    gap: 0px;
  }

  99% {
    gap: 0px;
  }
  100% {
    gap: 20px;
  }
}

/* Wheels */

.wheel {
  width: 20px;
  height: 20px;
  border: #000 solid 2px;
  border-radius: 50%;
  position: absolute;
  bottom: -22px;
}

.trainHeadLeft > div:nth-child(4),
.trainHeadRight > div:nth-child(4),
.trainCar > div:nth-child(4) {
  left: 1px;
}

.trainHeadLeft > div:nth-child(5),
.trainHeadRight > div:nth-child(5),
.trainCar > div:nth-child(5) {
  left: 20px;
}

.trainHeadLeft > div:nth-child(6),
.trainHeadRight > div:nth-child(6),
.trainCar > div:nth-child(6) {
  right: 1px;
}

.trainHeadLeft > div:nth-child(7),
.trainHeadRight > div:nth-child(7),
.trainCar > div:nth-child(7) {
  right: 20px;
}

/* TREES */

.trees {
  height: 200px;
  position: relative;
  bottom: 20px;
  display: flex;
  z-index: 2;
  width: fit-content;
  animation: moveTrees 80s;
}

.trees > img {
  margin-right: -60px;
}

@keyframes moveTrees {
  0% {
    right: 0px;
  }
  2% {
    right: 0px;
  }

  24% {
    right: 4000px;
  }

  27% {
    right: 4000px;
  }

  49% {
    right: 7200px;
  }

  52% {
    right: 7200px;
  }

  74% {
    right: 4000px;
  }
  77% {
    right: 4000px;
  }
  99% {
    right: 0px;
  }
  100% {
    right: 0px;
  }
}

/* MOMTAINS */

.mountainsWrapper {
  position: absolute;
  width: fit-content;
  height: fit-content;
  bottom: 40px;
  display: flex;
  align-items: flex-end;
  z-index: 1;
  animation: moveMountains 80s;
}

.mountainsWrapper > img {
  margin-right: -150px;
}

.mountainsWrapper > img:nth-child(3n) {
  height: 700px;
}

.mountainsWrapper > img:nth-child(2n) {
  height: 1000px;
}

@keyframes moveMountains {
  0% {
    left: 0px;
  }

  2% {
    left: 0px;
  }

  24% {
    left: -800px;
  }

  27% {
    left: -800px;
  }

  49% {
    left: -1600px;
  }

  52% {
    left: -1600px;
  }

  74% {
    left: -800px;
  }

  77% {
    left: -800px;
  }

  99% {
    left: 0px;
  }

  100% {
    left: 0px;
  }
}

/* SUN */

.sun {
  position: absolute;
  width: 400px;
  top: 50px;
  left: 30px;
}

footer {
  width: auto;
  display: block;
  background-color: #000;
  height: 20px;
}

@media screen and (max-width: 700px) {
  .trainWrapper {
    width: 400px;
    height: 100px;
  }

  .trainHeadLeft,
  .trainHeadRight,
  .trainCar {
    width: 95px;
    height: 30px;
    border: solid #000 2px;
    margin-bottom: 10px;
  }

  .carWindow {
    width: 15px;
    height: 15px;
    border: #000 solid 2px;
  }

  .trainHeadRight > div:nth-child(3) {
    background-color: aqua;
    width: 35px;
    border-radius: 20px 150px 20px 20px;
  }

  .trainHeadRight > div:nth-child(2) {
    width: 22px;
    border-radius: 5px;
  }

  .trainHeadLeft > div:nth-child(1) {
    width: 35px;
    border-radius: 150px 20px 20px 20px;
  }

  .trainHeadLeft > div:nth-child(2) {
    width: 22px;
    border-radius: 5px;
  }

  .trainDoorFrame {
    height: 25px;
    width: 25px;
    bottom: -2px;
    border: solid #000 2px;
  }

  .trainDoorFrame > div:nth-child(1) {
    border-right: #000 solid 1px;
  }

  .trainDoorFrame > div:nth-child(2) {
    border-left: #000 solid 1px;
  }

  .wheel {
    width: 10px;
    height: 10px;
    border: #000 solid 1px;
    bottom: -11px;
  }

  .trees {
    height: 110px;
  }

  .trees > img {
    margin-right: -35px;
  }

  .mountainsWrapper {
    bottom: 20px;
  }

  .mountainsWrapper > img:nth-child(3n) {
    height: 350px;
  }

  .mountainsWrapper > img:nth-child(2n) {
    height: 500px;
  }

  .sun {
    width: 200px;
  }
}
